#inputPrompt {
  margin: auto;
}

input[type="submit"] {
  font-size: 1rem;
  color: white;
  background-color: rgb(32, 60, 165);

  border: none;
  border-radius: 8px;

  width: 64px;
  height: 32px;
  margin: auto;
}
